In [3]:
import pandas as pd
import cassandra
from cassandra.cluster import Cluster
from queries import *
import create_tables

In [4]:
%run etl.py

In [5]:
session, cluster = create_tables.connect_db()

## 1) Query 1: Give me the artist, song title and song's length in the music app history that was heard during sessionId = 338, and itemInSession = 4

In [6]:
## Add in the SELECT statement to verify the data was entered into the table

query = "SELECT * FROM session_history WHERE sessionID=338 AND itemInSession=4"
try:
    rows = session.execute(query)
except Exception as e:
    print(e)

columns =  ['artist', 'song_title', 'song_length']
query1_output = pd.DataFrame(columns= columns)
    
for row in rows:
    row_list = [[row.artist, row.song_title, row.song_length]]
    query1_output = query1_output.append(pd.DataFrame(row_list, columns=columns), ignore_index=True)

query1_output

      artist                       song_title  song_length
0  Faithless  Music Matters (Mark Knight Dub)   495.307312

## 2) Give me only the following: name of artist, song (sorted by itemInSession) and user (first and last name) for userid = 10, sessionid = 182

In [16]:
query = "SELECT * FROM user_history WHERE userID=10 AND sessionID=182"
try:
    rows = session.execute(query)
except Exception as e:
    print(e)

columns = ['artist', 'song_title', 'first_name', 'last_name']
query2_output = pd.DataFrame(columns=columns)
    
for row in rows:
    row_list = [[row.artist, row.song_title, row.first_name, row.last_name]]
    query2_output = query2_output.append(pd.DataFrame(row_list, columns=columns), ignore_index=True)

query2_output

,artist,song_title,first_name,last_name
0,Down To The Bone,Keep On Keepin' On,Sylvie,Cruz
1,Three Drives,Greece 2000,Sylvie,Cruz
2,Sebastien Tellier,Kilometer,Sylvie,Cruz
3,Lonnie Gordon,Catch You Baby (Steve Pitron & Max Sanna Radio...,Sylvie,Cruz

## 3) Query 3: Give me every user name (first and last) in my music app history who listened to the song 'All Hands Against His Own

In [9]:
query = "SELECT * FROM song_history WHERE song_title='All Hands Against His Own'"
try:
    rows = session.execute(query)
except Exception as e:
    print(e)
    
columns = ['first_name', 'last_name']
query3_output = pd.DataFrame(columns=columns)
    
for row in rows:
    row_list = [[row.first_name, row.last_name]]
    query3_output = query3_output.append(pd.DataFrame(row_list, columns=columns), ignore_index=True)

query3_output

   first_name last_name
0  Jacqueline     Lynch
1       Tegan    Levine
2        Sara   Johnson

## Close & Disconnect database

In [10]:
create_tables.disconnect_db(session, cluster)